@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f8f8f8;
  --accent-color: #c6bcef;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

.annotatedSource {
  span {
    background-color: #c6bcef8a;
    padding: 2.3px;
    cursor: pointer;
    transition: all ease-in-out 150ms;
    /* border-radius: 3px; */
  }
  span:hover {
    background-color: #c6bcefd6;
  }
  .selected-span {
    background-color: #c6bcef;
  }
}

.annotatedSource span {
  background-color: #c6bcef8a;
  padding: 2.3px;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.annotatedSource span:hover {
  background-color: #c6bcefd6;
}
.annotatedSource .selected-span {
  background-color: #c6bcef;
}

#commentBox::after {
  /* a small triangle that appears on the left side that makes it look like a speach bubble */
  content: "";
  position: absolute;
  top: 40px;
  left: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #c6bcef;
  border-left: 0;
  margin-top: -10px;
  /* make it a triangle using clip */
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

/* if the screen is less than 768 then make the commentBox::after on the top of the commentBox */
@media (max-width: 1024px) {
  #commentBox::after {
    top: 0px;
    left: 20%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: #c6bcef;
    border-top: 0;
    margin-left: -10px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }
}

.loadingAnimatedGradient {
  background: linear-gradient(
    300deg,
    rgb(230, 230, 230),
    rgb(249 250 251),
    rgb(230, 230, 230),
    rgb(249 250 251),
    rgb(230, 230, 230),
    rgb(249 250 251)
  );
  background-size: 600% 600%;
  animation: gradient 4s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
